<% if logged_in? %>
    <h3>Following (<%= @following.count %>)</h3>
    <% @following.each do |f| %>
        <div class="col-md-4 following">
            <tr>
                <div class="panel panel-primary">
                    <div class="panel-heading">
	                    <center><span class="user"><%= link_to f.name, f %></span></center>
                    </div>
                    <div class="panel-body panel-info">
                		<%= link_to gravatar_for(f, size: 80), f %>
                        <text>性　別:</text>
                        <% if @user.sexes.present? %>
                          <% sex=["不明","男性","女性"] %>
                          <%= sex[@user.sexes] %><br>
                        <% end %>
                        <br>
                        <text>居住地:</text>
                        <%= f.area %></h5>
                    </div>
                </div>
            </tr>
        </div>
    <% end %>
<% end %>